<span class="ui-float-label full-width">
  <p-autoComplete
    [suggestions]="_suggestions"
    [field]="field"
    [scrollHeight]="scrollHeight"
    [dropdown]="dropdown"
    [multiple]="multiple"
    [minLength]="minLength"
    [delay]="delay"
    [style]="style"
    [styleClass]="styleClass"
    [inputStyle]="inputStyle"
    [inputStyleClass]="inputStyleClass"
    [inputId]="inputId"
    [placeholder]="placeholder"
    [readonly]="readonly"
    [disabled]="disabled"
    [maxlength]="maxlength"
    [size]="size"
    appendTo="body"
    [tabindex]="tabindex"
    [dataKey]="dataKey"
    [autoHighlight]="autoHighlight"
    [type]="type"
    [emptyMessage]="emptyMessage"
    [immutable]="immutable"
    [required]="required"
    [forceSelection]="forceSelection"
    [dropdownMode]="dropdownMode"
    [ngClass]="{'invalid': isInvalid && !multiple, 'multi-invalid': isInvalid && multiple}"
    (completeMethod)="completeMethod.emit($event)"
    (onFocus)="onFocus.emit($event)"
    (onBlur)="onBlur.emit($event)"
    (onKeyUp)="onKeyUp.emit($event)"
    (onSelect)="onSelect.emit($event)"
    (onUnselect)="onUnselect.emit($event)"
    (onDropdownClick)="onDropdownClick.emit($event)"
    (onClick)="onClick.emit($event)"
    >
  </p-autoComplete>
  <label>{{label}}</label>
</span>
