
.overview-max-width {
  max-width: 270px;
  float: left;
}
.margin-left {
  margin-left: 10px;
}
.panelbar-container {
  .ui-widget {
    padding-left: 20px;
  }
}

.panelbar-container {
  display: flex;
  flex-direction: column;
  .ui-tabview-panel {
    padding: 0.5rem 0 0 0 !important;
  }
}
.ui-panel-content {
  min-height: 100vh;
}
